<div id="head">
  <h1><%= t('views.users_ask_permissions.title_u_ask') %></h1>
  <br>
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4" id="inner-body">
    <p class="text-center">
      <h4>
    <p class="text-center"><%= t('views.users_ask_permissions.messages') %></p></h4>

    <%#= form_tag(, :method => "post") do %>

    <%= form_tag({:controller => "users", :action => "askpermissions"}, {:method => "get"}) do %>
        <br>
        <table class="table table-striped table-hover  table-responsive" style="margin: 0 auto; text-align: center;">
          <thead>
          <tr>
            <th><%= t('views.users_ask_permissions.attribute') %></th>
            <th><%= t('activerecord.atributes.crear') %></th>
            <th><%= t('activerecord.atributes.editar') %></th>
            <th><%= t('activerecord.atributes.editar') %></th>
            <th><%= t('activerecord.atributes.eliminar') %></th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>
              <label><%= t('views.permisos_edit.users') %></label>
              <input type="hidden" name="name1" value="Users">
            </td>
            <td>
              <input type="checkbox" class="i-checks" value="8" name="crear1"><br>
            </td>
            <td>
              <input type="checkbox" class="i-checks" value="4" name="editar1"><br>
            </td>
            <td>
              <input type="checkbox" class="i-checks" value="2" name="leer1"><br>
            </td>
            <td>
              <input type="checkbox" class="i-checks" value="1" name="eliminar1"><br>
            </td>
          </tr>

          <tr>
            <td>
              <label><%= t('views.permisos_edit.profiles') %></label>
              <input type="hidden" name="name2" value="Profiles">
            </td>
            <td>
              <input type="checkbox" class="i-checks" value="8" name="crear2"><br>
            </td>
            <td>
              <input type="checkbox" class="i-checks" value="4" name="editar2"><br>
            </td>
            <td>
              <input type="checkbox" class="i-checks" value="2" name="leer2"><br>
            </td>
            <td>
              <input type="checkbox" class="i-checks" value="1" name="eliminar2"><br>
            </td>
          </tr>

          <tr>
            <td>
              <label><%= t('views.permisos_edit.areas') %></label>
              <input type="hidden" name="name3" value="Areas">
            </td>
            <td>
              <input type="checkbox" class="i-checks" value="8" name="crear3"><br>
            </td>
            <td>
              <input type="checkbox" class="i-checks" value="4" name="editar3"><br>
            </td>
            <td>
              <input type="checkbox" class="i-checks" value="2" name="leer3"><br>
            </td>
            <td>
              <input type="checkbox" class="i-checks" value="1" name="eliminar3"><br>
            </td>
          </tr>

          </tbody>
        </table>
        <br>
        <h5><label><%= t('views.users_ask_permissions.extra_comments') %></label></h5>
        <textarea class="form-control" rows="3" name="coment"></textarea>
        <br>
        <p class="text-center">
          <%= submit_tag t('views.users_ask_permissions.ask_for_permissions'), :class => 'btn btn-primary m-b' %>
        </p>
    <% end %>

  </div>
  <div class="col-md-4"></div>
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <p class="text-left">
      <%= link_to t('views.users_ask_permissions.back_u_ask'), home_index_path, :class => 'btn btn-primary m-b' %>
    </p></div>
</div>

</div>