<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'ks-clasico-icono.png' %>
    <title><%= t('all.profile_template') %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= Gon::Base.render_data %>
  </head>

  <% if current_user %>

      <body class="pace-done">

      <!-- Wrapper-->
      <div id="wrapper">
        <%= render 'layouts/navigation' %>

        <!-- Navigation -->

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">

          <!-- Page wrapper -->
          <%= render 'layouts/topnavbar' %>

          <!-- Main view  -->
          <% if notice %>
              <p class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <label><%= notice %></label></p>
          <% end %>
          <% if alert %>
              <p class="alert alert-danger alert-dismissible ">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <label id="msj"><%= alert %></label></p>
          <% end %>
          <%= yield %>

          <!-- Footer -->
          <%= render 'layouts/footer' %>

        </div>
        <!-- End page wrapper-->

      </div>
      <!-- End wrapper-->

      </body>

  <% else %>

      <body style="background-color: #f3f3f4;">

      <%#= current_user.name %>

      <% if notice %>
          <div class="container">
            <div class="alert alert-success alert-dismissable">
              <p>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <label><%= notice %></label></p>
            </div>
          </div>
      <% elsif alert %>
          <!--<<div class="ibox-content ">-->
          <div class="container">
            <div class="alert alert-danger alert-dismissable">
              <p>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <label id="msj"><%= alert %></label></p>
            </div>
          </div>


      <% end %>
      <div>
        <div class="row">

          <div class="col-md-3"></div>
          <div class="col-md-6">
            <%= yield %>
          </div>
          <div class="col-md-3">
            <p><br><br><br><br></p>
            <%= link_to t('views.sessions_new.reactivation'), expired_accounts_new_path, :class => 'btn btn-danger', :id => "activarCuenta", :style => "display:none" %>
          </div>

        </div>
      </div>
  <% end %>

  </body>
  <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>
  <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>
  <%= yield :stylesheet %>
  <%= yield :javascript %>
</html>
